<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        {{>header}}
    </head>

    <body>
        <div class="main-content">
            

        {{!-- <h1>Help</h1> --}}
        <p>{{helpText}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>
